[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "sherpa"]
	path = sherpa
	url = git@github.com:AlpineMapsOrg/sherpa.git
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
